* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Manrope', sans-serif;
  color: #1A1A1A;
  font-weight: 500;
}

input,
button,
textarea {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --------------- */

/* Global Style main */

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
}

.indent {
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.is-hidden {
  display: none !important;
}

.btn {
  background: #34D9CA;
  color: #1A1A1A;
  display: inline-block;
  padding: 18px 20px;
  width: 234px;
  max-width: 100%;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn:hover {
  background: #41b1a7;
}

.btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

body.no-scroll {
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  padding: 20px 0px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header.active {
  background-color: #b2b2b2;
  padding: 10px 0px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__logo {
  width: 63px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 800;
}

.header__logo a {
  color: #34D9CA;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 22px;
}

.header__tel {
  margin-right: 50px;
}

.header__tel a {
  color: #34D9CA;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__tel a:hover {
  color: #1A1A1A;
}

.header__language {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__language:hover {
  color: #34D9CA;
}

.menu__list-item.menu__list-item-secondary a {
  color: #1A1A1A;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__list-item.menu__list-item-secondary a:hover {
  color: #34D9CA;
}

.header__language.header__language-secondary {
  color: #1A1A1A;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header__language.header__language-secondary:hover {
  color: #34D9CA;
}

.burger.burger__secondary span {
  background-color: black;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list-item:not(:first-child) {
  margin-left: 50px;
}

.menu__list-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__list-link:hover {
  color: #34D9CA;
}

.burger {
  display: none;
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal__close {
  display: none;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
}

.modal__left {
  padding-top: 30px;
  padding-right: 75px;
  padding-bottom: 40px;
  padding-left: 75px;
}

.modal__content {
  max-width: 554px;
  min-height: 485px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: opacity 200ms ease-in, -webkit-transform 200ms ease-in;
  transition: opacity 200ms ease-in, -webkit-transform 200ms ease-in;
  -o-transition: transform 200ms ease-in, opacity 200ms ease-in;
  transition: transform 200ms ease-in, opacity 200ms ease-in;
  transition: transform 200ms ease-in, opacity 200ms ease-in, -webkit-transform 200ms ease-in;
  overflow: hidden;
}

.modal__content.active {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.form__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.form__group {
  margin-bottom: 30px;
  width: 100%;
}

.form__group label {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

.form__group label:after {
  color: red;
  content: " *";
}

.form__group input {
  font-size: 16px;
  line-height: 21px;
  padding-left: 15px;
  height: 42px;
  background: #E6E6E6;
  border-radius: 0px 10px 10px 10px;
  width: 100%;
}

.form__group input:focus {
  border: 1px solid #34D9CA;
}

.form {
  width: 100%;
  max-width: 261px;
  margin: 0 auto;
}

.form__group-btn {
  text-align: center;
}

.form__area {
  width: 100%;
  margin-bottom: 20px;
}

.form__area label {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: #808080;
}

.form__area textarea {
  background: #E6E6E6;
  border-radius: 0px 10px 10px 10px;
  width: 100%;
  min-height: 108px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  resize: none;
}

.form__area textarea:focus {
  border: 1px solid #34D9CA;
}

.hero {
  height: 100vh;
  min-height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.hero:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.hero__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  padding: 100px 15px;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  z-index: 2;
}

.hero__head {
  padding-left: 15px;
  padding-right: 15px;
  width: 35%;
}

.hero__head-title {
  font-weight: 800;
  font-size: 100px;
  color: #ffffff;
  line-height: 120px;
}

.hero__desc {
  padding-left: 15px;
  padding-right: 15px;
  width: 46%;
}

.hero__desc-subtitle {
  font-size: 20px;
  color: #34D9CA;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero__desc-title {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  line-height: 38px;
}

.hero__desc-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 60px;
}

.hero__text {
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}

.hero__text h3 {
  font-size: 30px;
  color: #34D9CA;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero__text p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  line-height: 25px;
}

.hero__desc-btn {
  margin-top: 60px;
}

.product__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 75px;
}

.product__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9%;
}

.swiper-button-prev.product-button-prev,
.swiper-button-next.product-button-next {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #34D9CA;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-button-prev.product-button-prev svg,
.swiper-button-next.product-button-next svg {
  fill: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.swiper-button-prev.product-button-prev {
  left: 0;
  margin-right: 20px;
}

.swiper-button-next.product-button-next {
  right: 0;
}

.swiper-button-prev.product-button-prev:after,
.swiper-button-next.product-button-next:after {
  font-size: 0;
}

.swiper-button-prev.product-button-prev.swiper-button-disabled,
.swiper-button-next.product-button-next.swiper-button-disabled {
  background-color: #f2f2f2;
}

.swiper-button-prev.product-button-prev.swiper-button-disabled svg,
.swiper-button-next.product-button-next.swiper-button-disabled svg {
  fill: gray;
}

.swiper-container.product__slider-container {
  width: 100%;
  height: 100%;
}

.swiper-slide.product-slide {
  border-radius: 10px;
  overflow: hidden;
}

.swiper-slide.product-slide {
  padding: 100px 20px 118px 50px;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.swiper-slide.product-slide:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(8.07%, rgba(3, 3, 3, 0.987259)), color-stop(15.54%, rgba(12, 12, 12, 0.951407)), color-stop(22.5%, rgba(27, 27, 27, 0.896)), color-stop(29.04%, rgba(45, 45, 45, 0.824593)), color-stop(35.26%, rgba(66, 66, 66, 0.740741)), color-stop(41.25%, rgba(90, 90, 90, 0.648)), color-stop(47.1%, rgba(115, 115, 115, 0.549926)), color-stop(52.9%, rgba(140, 140, 140, 0.450074)), color-stop(58.75%, rgba(165, 165, 165, 0.352)), color-stop(64.74%, rgba(189, 189, 189, 0.259259)), color-stop(70.96%, rgba(210, 210, 210, 0.175407)), color-stop(77.5%, rgba(228, 228, 228, 0.104)), color-stop(84.46%, rgba(243, 243, 243, 0.0485926)), color-stop(91.93%, rgba(252, 252, 252, 0.0127407)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, #000000 0%, rgba(3, 3, 3, 0.987259) 8.07%, rgba(12, 12, 12, 0.951407) 15.54%, rgba(27, 27, 27, 0.896) 22.5%, rgba(45, 45, 45, 0.824593) 29.04%, rgba(66, 66, 66, 0.740741) 35.26%, rgba(90, 90, 90, 0.648) 41.25%, rgba(115, 115, 115, 0.549926) 47.1%, rgba(140, 140, 140, 0.450074) 52.9%, rgba(165, 165, 165, 0.352) 58.75%, rgba(189, 189, 189, 0.259259) 64.74%, rgba(210, 210, 210, 0.175407) 70.96%, rgba(228, 228, 228, 0.104) 77.5%, rgba(243, 243, 243, 0.0485926) 84.46%, rgba(252, 252, 252, 0.0127407) 91.93%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, #000000 0%, rgba(3, 3, 3, 0.987259) 8.07%, rgba(12, 12, 12, 0.951407) 15.54%, rgba(27, 27, 27, 0.896) 22.5%, rgba(45, 45, 45, 0.824593) 29.04%, rgba(66, 66, 66, 0.740741) 35.26%, rgba(90, 90, 90, 0.648) 41.25%, rgba(115, 115, 115, 0.549926) 47.1%, rgba(140, 140, 140, 0.450074) 52.9%, rgba(165, 165, 165, 0.352) 58.75%, rgba(189, 189, 189, 0.259259) 64.74%, rgba(210, 210, 210, 0.175407) 70.96%, rgba(228, 228, 228, 0.104) 77.5%, rgba(243, 243, 243, 0.0485926) 84.46%, rgba(252, 252, 252, 0.0127407) 91.93%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
}

.swiper-slide.product-slide h3 {
  font-weight: 700;
  font-size: 30px;
  max-width: 320px;
  line-height: 38px;
}

.benefits__head {
  max-width: 450px;
  margin-bottom: 100px;
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}

.benefits__desc-number {
  padding-left: 15px;
  padding-right: 15px;
  width: 43%;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__item p {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.benefits__item-number {
  color: #34D9CA;
  font-weight: 500;
  font-size: 100px;
  line-height: 120px;
  margin-right: 50px;
}

.benefits__desc-advantage {
  padding-left: 15px;
  padding-right: 15px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 53%;
  margin-left: -20px;
  margin-right: -20px;
}

.advantage__item {
  width: 46%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 100px;
}

.advantage__item:first-child {
  margin-top: 0;
}

.advantage__item:nth-of-type(2) {
  margin-top: 0;
}

.advantage__item p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.advantage__number {
  font-weight: 500;
  font-size: 30px;
  line-height: 34px;
  color: #34D9CA;
  margin-bottom: 15px;
}

.delivery__wrapper {
  border-radius: 10px;
  background-color: #34D9CA;
  padding: 50px 20px 60px 50px;
  position: relative;
  overflow: hidden;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.delivery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.delivery__desc {
  width: 50%;
  color: #ffffff;
}

.delivery__desc p {
  font-size: 18px;
  line-height: 25px;
  max-width: 487px;
  margin-bottom: 21px;
}

.delivery__title {
  line-height: 68px;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 18px;
}

.delivery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.delivery__link svg {
  fill: #fff;
  margin-left: 13px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.delivery__link:hover {
  color: #1A1A1A;
}

.delivery__link:hover svg {
  fill: #000;
}

.delivery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  margin-left: -10px;
  margin-right: -10px;
}

.delivery__item {
  width: 50%;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.delivery__item:first-child {
  margin-top: 0;
}

.delivery__item:nth-of-type(2) {
  margin-top: 0;
}

.delivery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__body p {
  max-width: 127px;
  margin-bottom: 0;
}

.delivery__body-img {
  margin-right: 26px;
  width: 45px;
  height: 45px;
}

.delivery__body-img img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.questions__wrapper {
  border-radius: 10px;
  background-color: #F2F2F2;
  overflow: hidden;
  padding: 30px 75px 0px 50px;
}

.questions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

.questions__form p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #1A1A1A;
}

.questions__desc {
  padding: 20px 15px 20px 15px;
}

.questions__title {
  margin-bottom: 10px;
}

.questions__form-item {
  position: relative;
  width: 100%;
  max-width: 410px;
  margin-top: 40px;
  margin-top: 40px;
}

.questions__form-item input {
  width: 100%;
  padding-right: 70px;
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #1A1A1A;
}

.questions__form-item input::-webkit-input-placeholder {
  color: #B3B3B3;
  font-weight: 500;
  font-size: 18px;
}

.questions__form-item input::-moz-placeholder {
  color: #B3B3B3;
  font-weight: 500;
  font-size: 18px;
}

.questions__form-item input:-ms-input-placeholder {
  color: #B3B3B3;
  font-weight: 500;
  font-size: 18px;
}

.questions__form-item input::-ms-input-placeholder {
  color: #B3B3B3;
  font-weight: 500;
  font-size: 18px;
}

.questions__form-item input::placeholder {
  color: #B3B3B3;
  font-weight: 500;
  font-size: 18px;
}

.questions__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: #34D9CA;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.questions__btn:hover {
  background-color: #B3B3B3;
}

.questions__image {
  padding: 0px 15px 0px 15px;
  max-width: 420px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.questions__image img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.company {
  position: relative;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.company:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.company__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.company__row {
  position: relative;
  z-index: 2;
}

.company__uptitle {
  color: #34D9CA;
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 20px;
}

.company__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.sell__wrapper {
  background: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  padding: 75px 20px 0px 0px;
}

.sell__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sell__head {
  margin-bottom: 81px;
  margin-left: 50px;
}

.sell__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
}

.sell__image img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sell__end {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 75px;
}

.sell__item {
  padding: 0 15px;
  width: 45%;
  margin-top: 68px;
}

.sell__item:first-child {
  margin-top: 0;
}

.sell__item:nth-child(2) {
  margin-top: 0;
}

.sell__item p {
  font-size: 20px;
  color: #1A1A1A;
  line-height: 27px;
  font-weight: 500;
}

.sell__item-number {
  font-size: 30px;
  color: #34D9CA;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 20px;
}

.description__head {
  color: #1A1A1A;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 50px;
}

.description__head h3 {
  font-weight: 500;
}

.description__wrapper {
  background: #3d3741;
  border-radius: 10px;
  overflow: hidden;
  padding: 75px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description__text {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  max-width: 500px;
  padding: 0 15px;
}

.activities__head {
  margin-bottom: 50px;
}

.activities__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.activities__image {
  max-width: 638px;
  height: 616px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.activities__image img {
  max-width: 100%;
  height: 100%;
  display: block;
}

.activities__info {
  margin-left: 100px;
}

.activities__list li {
  padding: 30px 0px;
  border-top: 1px solid #b2b2b2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.activities__list li:last-child {
  border-bottom: 1px solid #b2b2b2;
}

.benefits-company__head {
  margin-bottom: 68px;
}

.benefits__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 2;
  margin: 0 -25px;
}

.benefits__line::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
  width: 95%;
  height: 1px;
  background-color: gray;
  z-index: -1;
}

.benefits__line span {
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: black;
}

.benefits__line-item {
  width: 25%;
  padding: 0 25px;
}

.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -25px;
  margin-top: 50px;
}

.benefits__column {
  padding: 0 25px;
  width: 25%;
  margin-bottom: 50px;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.benefits__body p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.benefits__body-title {
  font-weight: 700;
  line-height: 35px;
  font-size: 29px;
  margin-bottom: 50px;
  overflow: hidden;
}

.benefits__body-number {
  color: #34D9CA;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 30px;
}

.maps__wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.maps__image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.maps__image img {
  width: 100%;
}

.maps__image svg {
  width: 30px;
  height: 30px;
}

.city-dot {
  fill: #D93434;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.city-dot.active {
  fill: #34D9CA;
}

.city-dot--russia {
  position: absolute;
  top: 14%;
  right: 40.5%;
}

.city-dot--kz {
  position: absolute;
  top: 50%;
  left: 37%;
}

.city-dot--uzbekistan {
  position: absolute;
  bottom: 32%;
  left: 34%;
}

.city-dot--tadj {
  position: absolute;
  bottom: 26%;
  left: 38%;
}

.city-dot--kirg {
  position: absolute;
  bottom: 31%;
  left: 42%;
}

.city-dot--kitay {
  position: absolute;
  bottom: 20%;
  left: 60%;
}

.maps__city {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(52, 217, 202, 0.5);
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  padding: 50px 50px 20px 50px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.maps__head {
  position: absolute;
  z-index: 1;
  top: 75px;
  left: 50px;
  color: #ffffff;
  max-width: 492px;
}

.maps__head p {
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
}

.maps__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 15px;
}

.city {
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.city:hover {
  color: #1A1A1A;
}

.city:last-child {
  margin-bottom: 0px;
}

.product-inner {
  margin-top: 136px;
}

.product__head-inner {
  text-align: center;
  margin-bottom: 62px;
}

.product__tabs-content {
  margin-bottom: 100px;
}

.tabs__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.tabs__btn {
  background: transparent;
  font-weight: 600;
  color: #1A1A1A;
  font-size: 20px;
  line-height: 28px;
  margin: 0px 30px;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}

.tabs__btn:before {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  width: 1px;
  height: 100%;
  background-color: #cccccc;
}

.tabs__btn:last-child:before {
  display: none;
}

.tabs__btn.active {
  color: #34D9CA;
  padding-bottom: 1px;
  border-bottom: 1px solid #34D9CA;
}

.tabs__btn:hover {
  color: #34D9CA;
}

.tabs__content-product {
  display: none;
  overflow-x: auto;
}

.tabs__content-product.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

table.table-tabs {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
}

table.table-tabs,
table.table-tabs td,
table.table-tabs th {
  border: 1px solid #cccccc;
  font-weight: 500;
  color: #1A1A1A;
  font-size: 18px;
  line-height: 24px;
}

table.table-tabs tr td {
  width: 25%;
}

table.table-tabs td,
table.table-tabs th {
  width: 30px;
  padding: 30px 20px;
  text-align: center;
}

table.table-tabs tr.font-weight td {
  font-weight: 600;
}

.contacts {
  margin-top: 136px;
}

.contacts__wrapper {
  border-radius: 10px;
  overflow: hidden;
  background: #f2f2f2;
  padding: 50px;
}

.contacts__marker-row {
  background: #34D9CA;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 200px 20px 50px;
  margin-bottom: 50px;
}

.contacts__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.contacts__link a:first-child {
  margin-right: 100px;
}

.contacts__link a img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  margin-right: 18px;
}

.contacts__title {
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts__end-image {
  width: 136px;
  height: 179px;
}

.contacts__end-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.maps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.maps__wrapper-info {
  padding: 0 15px;
  width: 40%;
}

.maps__wrapper-item {
  margin-bottom: 40px;
}

.maps__wrapper-item:last-child {
  margin-bottom: 0;
}

.maps__wrapper-item p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #808080;
  font-weight: 500;
}

.maps__wrapper-item-title {
  font-size: 20px;
  font-weight: 600;
  color: #1A1A1A;
  line-height: 27px;
}

.maps__wrapper-maps {
  padding: 0 15px;
  width: 52%;
  position: relative;
}

#YMapsID {
  width: 100%;
  height: 100%;
}

.footer {
  margin-top: 30px;
}

.footer__copy {
  font-weight: 500;
  color: #1A1A1A;
  line-height: 25px;
  font-size: 18px;
}

.footer__top {
  margin-bottom: 20px;
}

.footer__bottom {
  padding: 30px 0px;
}

.footer {
  padding-bottom: 24px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__desc {
  width: 50%;
  border-right: 2px solid black;
  padding-bottom: 130px;
  padding-right: 30px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.footer__social-link {
  width: 60px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__social-link:not(:first-child) {
  margin-left: 30px;
}

.footer__social-link svg {
  fill: #000000;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__social-link:hover {
  background-color: #34D9CA;
  border-color: #34D9CA;
}

.footer__social-link:hover svg {
  fill: #ffffff;
}

.footer__info {
  width: 50%;
  padding-left: 75px;
  padding-top: 50px;
}

.footer__tel a,
.footer__email a {
  color: #34D9CA;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__tel a:hover,
.footer__email a:hover {
  color: #1A1A1A;
}

.footer__tel {
  margin-bottom: 20px;
}

.footer__email {
  margin-bottom: 50px;
}

.footer__subtitle {
  color: #1A1A1A;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 35px;
}

.footer__nav {
  width: 75%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list li {
  width: 50%;
  margin-top: 30px;
}

.footer__list li:first-child {
  margin-top: 0;
}

.footer__list li:nth-of-type(2) {
  margin-top: 0;
}

.footer__list li a {
  font-size: 18px;
  color: #1A1A1A;
  line-height: 25px;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__list li a:hover {
  color: #34D9CA;
}

@media (max-width: 1400px) {
  .hero__head-title {
    font-size: 80px;
    line-height: 100px;
  }

  .hero__desc-title {
    font-size: 25px;
    line-height: 30px;
  }

  .hero__desc-bottom {
    margin-top: 40px;
  }

  .hero__desc-btn {
    margin-top: 40px;
  }
}

@media (max-width: 1250px) {
  .container {
    max-width: 1150px;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 45px;
    line-height: 61px;
  }

  .benefits__item p {
    font-size: 22px;
    line-height: 30px;
  }

  .delivery__desc {
    width: 60%;
  }

  .maps__title {
    font-size: 45px;
    line-height: 61px;
  }

  .contacts__marker-row {
    padding: 20px 120px 20px 50px;
  }

  .maps__wrapper-maps {
    width: 55%;
  }
}

@media (max-width: 1026px) {
  .title {
    font-size: 40px;
    line-height: 55px;
  }

  .hero__desc {
    width: 55%;
  }

  .sell__head {
    margin-bottom: 50px;
  }

  .sell__item {
    margin-top: 45px;
  }

  .activities__info {
    margin-left: 60px;
  }

  .activities__list li {
    padding: 27.5px 0;
  }

  .maps__title {
    font-size: 40px;
    line-height: 55px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 35px;
    line-height: 48px;
  }

  .indent {
    padding-bottom: 30px;
    margin-bottom: 60px;
  }

  .btn {
    width: 200px;
    font-size: 16px;
    line-height: 21px;
    padding: 15px 20px;
  }

  .modal__left {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
  }

  .modal__content {
    max-width: 700px;
  }

  .hero__head-title {
    font-size: 65px;
    line-height: 80px;
  }

  .hero__desc {
    width: 60%;
  }

  .hero__desc-title {
    font-size: 22px;
  }

  .hero__text h3 {
    font-size: 24px;
  }

  .hero__text p {
    font-size: 16px;
    line-height: 22px;
  }

  .product__head {
    margin-bottom: 50px;
  }

  .benefits__head {
    margin-bottom: 50px;
  }

  .benefits__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .benefits__desc-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }

  .benefits__item {
    width: 46%;
  }

  .benefits__item p {
    font-size: 18px;
    line-height: 25px;
  }

  .benefits__item-number {
    margin-right: 30px;
    font-size: 75px;
    line-height: 80px;
  }

  .advantage {
    width: 100%;
  }

  .advantage__item {
    margin-top: 60px;
  }

  .delivery__desc {
    width: 100%;
  }

  .questions__wrapper {
    padding: 30px 30px 0px 35px;
  }

  .questions__form-item {
    max-width: 300px;
  }

  .company {
    margin-bottom: 70px;
  }

  .company__title {
    font-size: 40px;
    line-height: 55px;
  }

  .sell__wrapper {
    padding: 45px 0px 0px 0px;
  }

  .sell__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sell__start {
    width: 100%;
    margin: 0 auto 30px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sell__image {
    margin: 0 auto;
  }

  .sell__end {
    width: 100%;
  }

  .description__wrapper {
    padding: 50px 35px;
  }

  .activities__head {
    text-align: center;
  }

  .activities__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .activities__image {
    margin: 0 auto 30px auto;
  }

  .activities__info {
    width: 100%;
    margin: 0 auto;
  }

  .activities__list li {
    font-size: 18px;
    line-height: 20px;
  }

  .benefits-company__head {
    margin-bottom: 40px;
    text-align: center;
  }

  .benefits__line {
    display: none;
  }

  .benefits__inner {
    margin: 0 -15px;
  }

  .benefits__column {
    padding: 0 15px;
    width: 33.3%;
  }

  .benefits__body-title {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 25px;
  }

  .benefits__body-number {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 18px;
  }

  .maps__image svg {
    width: 20px;
    height: 20px;
  }

  .maps__city {
    padding: 30px 30px 20px 30px;
  }

  .maps__head {
    max-width: 350px;
    top: 40px;
    left: 30px;
  }

  .maps__head p {
    font-size: 14px;
  }

  .maps__title {
    font-size: 25px;
    line-height: 35px;
  }

  .city {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .product__head-inner {
    margin-bottom: 45px;
  }

  .product__tabs-content {
    margin-bottom: 70px;
  }

  .tabs__wrapper {
    margin-bottom: 45px;
  }

  .tabs__btn {
    margin-bottom: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .tabs__btn {
    font-size: 17px;
  }

  .tabs__btn:before {
    display: none;
  }

  .tabs__content-product {
    overflow-x: scroll;
  }

  table.table-tabs {
    width: 992px;
  }

  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__link a:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contacts__title {
    text-align: left;
  }

  .maps__wrapper-item {
    margin-bottom: 30px;
  }

  .footer__title {
    text-align: left;
  }

  .footer__social-link {
    width: 50px;
    height: 50px;
  }

  .footer__info {
    padding-left: 50px;
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .modal__left {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
  }

  .modal__content {
    max-width: 600px;
    min-height: 420px;
  }
}

@media (max-width: 767px) {
  .indent {
    padding-bottom: 20px;
    margin-bottom: 40px;
  }

  .header__wrapper {
    margin-left: auto;
  }

  .header__info {
    margin-bottom: 0;
  }

  .header__language {
    margin-right: 25px;
    font-size: 12px;
    line-height: 16px;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: -1;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: #b2b2b2;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .menu.active {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__list-item:not(:first-child) {
    margin-left: 0px;
  }

  .menu__list-item {
    margin-bottom: 20px;
  }

  .menu__list-link {
    font-size: 22px;
  }

  .burger {
    display: block;
    position: relative;
    top: 0;
    right: 0px;
    width: 22px;
    height: 15px;
    z-index: 100;
    background-color: transparent;
    border-radius: 18px;
  }

  .burger span {
    top: 14px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .burger span:first-child {
    top: 8px;
  }

  .burger span:last-child {
    top: auto;
    bottom: 10px;
    width: 100%;
    right: 0;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger.active span:first-child {
    -webkit-transform: rotate(-42deg);
        -ms-transform: rotate(-42deg);
            transform: rotate(-42deg);
    top: 10px;
  }

  .burger.active span:last-child {
    -webkit-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
            transform: rotate(42deg);
    bottom: 2px;
    width: 100%;
  }

  .form__title {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .form__group {
    margin-bottom: 20px;
  }

  .hero__head {
    display: none;
  }

  .hero__desc {
    width: 100%;
  }

  .swiper-slide.product-slide {
    padding: 70px 20px 70px 50px;
  }

  .benefits__row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .benefits__desc-number {
    padding-left: 0px;
    padding-right: 0px;
  }

  .benefits__item {
    margin-bottom: 35px;
  }

  .benefits__item-number {
    font-size: 60px;
    line-height: 70px;
    margin-right: 20px;
  }

  .benefits__desc-advantage {
    padding-left: 0px;
    padding-right: 0px;
  }

  .advantage {
    margin-left: 0px;
    margin-right: 0px;
  }

  .advantage__item {
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .delivery__wrapper {
    padding: 30px 20px 30px 30px;
  }

  .delivery__title {
    line-height: 50px;
    font-size: 40px;
  }

  .questions__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .questions__desc {
    text-align: center;
    margin-bottom: 30px;
  }

  .questions__form-item {
    margin: 40px auto 0px auto;
  }

  .company__uptitle {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }

  .company__title {
    font-size: 30px;
    line-height: 42px;
  }

  .description__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .description__text {
    max-width: 100%;
  }

  .description__text:first-child {
    margin-bottom: 20px;
  }

  .activities__image {
    height: 485px;
  }

  .activities__list li {
    padding: 20.5px 0;
    font-size: 16px;
    line-height: 20px;
  }

  .benefits__column {
    width: 50%;
  }

  .benefits__body-title {
    margin-bottom: 15px;
    line-height: 28px;
    font-size: 23px;
  }

  .maps__image {
    width: 95%;
    margin: 0 auto;
  }

  .maps__city {
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-radius: 0px 0px 0px 0px;
  }

  .maps__head p {
    display: none;
  }

  .city {
    font-size: 15px;
  }

  .product__tabs-content {
    margin-bottom: 45px;
  }

  .contacts__wrapper {
    padding: 30px;
  }

  .contacts__marker-row {
    padding: 20px 60px 20px 30px;
  }

  .maps__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .maps__wrapper-info {
    width: 100%;
    margin-bottom: 30px;
  }

  .maps__wrapper-item-title {
    font-size: 17px;
    line-height: 24px;
  }

  .maps__wrapper-maps {
    width: 100%;
  }

  #YMapsID {
    height: 250px;
  }

  .footer__social-link {
    width: 35px;
    height: 35px;
  }

  .footer__social-link svg {
    width: 20px;
    height: 20px;
  }

  .footer__info {
    padding-left: 30px;
  }

  .footer__tel a,
  .footer__email a {
    font-size: 17px;
    line-height: 24px;
  }

  .footer__email {
    margin-bottom: 30px;
  }

  .footer__subtitle {
    font-size: 24px;
    line-height: 27px;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__list li:nth-of-type(2) {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .modal__content {
    max-width: 450px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 25px;
    line-height: 35px;
  }

  .header__tel a {
    font-size: 12px;
    line-height: 16px;
  }

  .header__tel {
    margin-right: 20px;
  }

  .form__area textarea {
    min-height: 60px;
  }

  .hero__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .hero__desc-bottom {
    display: none;
  }

  .product__head {
    margin-bottom: 30px;
  }

  .swiper-button-prev.product-button-prev,
  .swiper-button-next.product-button-next {
    width: 40px;
    height: 40px;
  }

  .swiper-button-prev.product-button-prev svg,
  .swiper-button-next.product-button-next svg {
    width: 15px;
    height: 15px;
  }

  .swiper-slide.product-slide {
    padding: 50px 20px 50px 30px;
  }

  .swiper-slide.product-slide h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .benefits__head {
    margin-bottom: 30px;
  }

  .benefits__desc-number {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .benefits__item {
    width: 100%;
  }

  .benefits__item p {
    font-size: 14px;
    line-height: 18px;
  }

  .advantage__item p {
    font-size: 15px;
    line-height: 18px;
  }

  .delivery__wrapper {
    padding: 30px 20px 30px 15px;
  }

  .delivery__desc p {
    font-size: 15px;
    line-height: 23px;
  }

  .delivery__title {
    line-height: 33px;
    font-size: 28px;
  }

  .delivery__body p {
    font-size: 15px;
    line-height: 20px;
  }

  .delivery__body-img {
    margin-right: 15px;
  }

  .questions__wrapper {
    padding: 30px 15px 0px 15px;
  }

  .questions__row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .questions__desc {
    padding: 20px 0px 20px 0px;
  }

  .questions__image {
    padding: 0px;
  }

  .questions__image img {
    height: 250px;
  }

  .company__uptitle {
    font-size: 20px;
    line-height: 30px;
  }

  .company__title {
    font-size: 22px;
    line-height: 35px;
  }

  .sell__image {
    max-width: 300px;
  }

  .sell__end {
    padding-bottom: 50px;
  }

  .sell__item p {
    font-size: 16px;
    line-height: 22px;
  }

  .sell__item-number {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .description__head {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  .description__wrapper {
    padding: 35px 25px;
  }

  .description__text {
    font-size: 16px;
    line-height: 25px;
  }

  .activities__image {
    height: 320px;
  }

  .benefits__column {
    width: 100%;
    margin: 0 auto 30px auto;
  }

  .benefits__body p {
    font-size: 15px;
    line-height: 20px;
  }

  .benefits__body-number {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .maps__image svg {
    width: 10px;
    height: 10px;
  }

  .maps__city {
    padding: 15px;
  }

  .maps__head {
    left: 15px;
    top: 10px;
  }

  .maps__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .city {
    font-size: 12px;
  }

  table.table-tabs,
  table.table-tabs td,
  table.table-tabs th {
    font-size: 15px;
    line-height: 20px;
  }

  table.table-tabs td,
  table.table-tabs th {
    padding: 20px 10px;
  }

  .contacts__wrapper {
    padding: 15px;
  }

  .contacts__marker-row {
    padding: 20px;
  }

  .contacts__link a {
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__link a img {
    margin-right: 10px;
  }

  .contacts__end-image {
    display: none;
  }

  .footer__copy {
    line-height: 20px;
    font-size: 15px;
  }

  .footer__bottom {
    padding: 15px 0px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__desc {
    border-right: 0;
    width: 100%;
    padding-bottom: 40px;
  }

  .footer__info {
    width: 100%;
    padding-left: 0;
  }

  .footer__list li {
    margin-top: 20px;
  }

  .footer__list li:nth-of-type(2) {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .modal__left {
    padding-bottom: 30px;
  }

  .modal__content {
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 475px) {
  .delivery__title {
    line-height: 30px;
    font-size: 24px;
  }

  .delivery__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivery__item {
    width: 100%;
  }

  .delivery__item:nth-of-type(2) {
    margin-top: 40px;
  }

  .description__wrapper {
    padding: 35px 10px;
  }

  .description__text {
    font-size: 14px;
    line-height: 22px;
  }

  .maps__title {
    font-size: 15px;
    line-height: 22px;
  }

  .tabs__btn {
    margin: 0px 15px 15px 15px;
  }
}